<!-- <h4>Hello World!</h4>
<h6 class="red-title">{{title}}</h6>
<button (click)="onClick()">click me</button>

<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div>

<img  class="images" [src]= "path" *ngIf="path" alt="Girl in a jacket" width="500" height="600"/>
<app-jerin></app-jerin> -->

<div class="toolbar" role="banner">
  <img
    width="55"
    src="https://i.imgur.com/WQKir0M.png"
  />
  <span>Tensorflow.js and Angular Integration</span>
  <div class="spacer"></div>
</div>
<h2>
  {{title}}
</h2>
<div>
  <canvas class="canvas" #canvas ></canvas>
</div>
<div style="width: 400px">
  <button class="block" (click)="clear()">Clear</button>
</div>
<div>
  <h2>Predicted: {{predicted}}</h2>
</div>
